body {
   background-color: #506464;  /* rgb(80 100 100); */
   font-family: "Times New Roman";
}

table {
  margin: 0px 0px 0px 0px;
  border-collapse: collapse;
  width:100%;
  border: 0px;
  height: 30px;
}

td.header {
   background: black;
   color: white;
}

td.navelt {
   height: 30px;
   width: 120px;
   font-size: 12pt; 
   font-weight: bold;
   color: #3C5050; /* rgb(60 80 80); */
   text-align: center;
   font-family: "Times New Roman";
   background-color: #B4C8BE;  /* rgb(180 200 190); */
}

td.body1 {
  padding: 20px;
  background: #FFFFFF;  /*rgb(255 255 255); */
  border: 0px;
  border-collapse: collapse;
}


div.navstyle a {
   font-family: "Times New Roman";
   font-size: 12pt; 
   text-align: center;
   color: #3C5050;
   border: none;
   text-decoration: none;
}

div.navstyle a:hover {
   font-size: 14pt; 
   font-weight: bold;
   color: #3C5050;
   text-decoration: none;
   border-bottom:0px;
}

div.body1 a {
   font-family: "Times New Roman";
   font-size: 12pt; 
   text-align: center;
   color: #289682;  /* rgb(40 150 130); */
   font-weight: bold;
   border: medium none;
   text-decoration: none;
}
div.body1 a:hover {
   text-decoration: none;
   font-weight: bold;
   border-bottom:1px solid #289682;
   color: #289682;
}

div.h1 { 
   font-family: "Times New Roman";
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 24pt; 
   font-weight: bold;
   color: black; 
}

div.h2 { 
   font-family: "Times New Roman";
   padding-top: 10px;
   padding-bottom: 10px;
   font-size: 16pt; 
   font-style: italic;
   color: black; 
}